<div id="present"><h4>{{name}}</h4>
  <img src="{{image}}" alt="{{name}}" />
  <p>{{description}}</p>
  <p>Price: <span class="italic">{{price}}</span></p>
  <p>For: <span class="italic">{{recipient}}</span></p>
</div>